.popular-blogs {
    background-color: #9e9b9b2e;
    border: 1px solid #0000003b;
    padding: 10px;
    border-radius: 6px;
}
.popular-blogs h3 {
    color: rgba(40,112,115);
    font-size: 20px;
}
.popular-blogs strong{
    color:rgba(128,187,74)
}