@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
body {
  margin: 0;
  padding: 0;
}
@layer base {
  body {
    @apply font-serif;
  }
}
@keyframes pop {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.animate-pop {
  animation: pop 0.4s ease forwards;
}
@keyframes float {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(50px);
  }
}
html, body {
  scroll-behavior: auto;
}
.float-left-anim {
  animation: floatLeft 3s ease-in-out infinite;
}
/* RIGHT FLOAT */
@keyframes floatRight {
  0% {
    transform: translateY(0) translateX(20px);
    opacity: 0;
  }
  50% {
    transform: translateY(20px) translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateY(0) translateX(20px);
  }
}
.float-right-anim {
  animation: floatRight 3s ease-in-out infinite;
}
@keyframes coffeeMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes slide {
  0% {
    left: -40%;
  }
  100% {
    left: 100%;
  }
}
.script-title {
  font-family: 'Great Vibes', cursive;
  font-size: 40px;
  color: #d4a373; 
  letter-spacing: 0.03em;
}

.stroke-text {
  -webkit-text-stroke: 2px #c8a46b;
}